<h2>Client Dashboard</h2>

{{#unless currentUser}}
    <div class="alert alert-info" role="alert">
        <strong>Welcome!</strong> Please sign in to continue.
    </div>
{{/unless}}

<div class="row">
    <div class="col-sm-6">
        <div class="thumbnail">

            <div class="caption">
                <h3>
                    Entries
                    <small class="text-success">
                        {{#if entriesLoading}}
                            <i class="fa fa-refresh fa-spin"></i> LOADING {{ entries.percent }}%
                        {{/if}}
                    </small>
                </h3>
                <hr>
                <div class="col-md-6">
                    <p class="lead">Total: {{ entries.count }}</p>
                </div>
                <div class="col-md-6">
                    <p class="lead">Unique: {{ entries.unique.length }}</p>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th>country</th>
                        <th>count</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each entries.entriesByCountry}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.count}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>


            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="thumbnail">

            <div class="caption">
                <h3>
                    Opt-Ins
                    <small class="text-success">
                        {{#if optInsLoading}}
                            <i class="fa fa-refresh fa-spin"></i> LOADING {{ optIns.percent }}%
                        {{/if}}
                    </small>
                </h3>
                <hr>
                <p class="lead">Total: {{ optIns.count }}</p>

                <table class="table">
                    <thead>
                    <tr>
                        <th>opt-in</th>
                        <th>count</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each optIns.optInsByName}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.count}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
