<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ App.env.brand }}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {{#link-to "index" tagName="li"}}
                    <a href="#">Home</a>
                {{/link-to}}
            </ul>
            {{#if currentUser}}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <p class="navbar-text">{{ currentUser.email }}</p>
                    </li>
                    <li>
                        <button {{action "logout"}} class="btn btn-sm btn-danger navbar-btn">Sign out</button>
                    </li>
                </ul>
            {{else}}
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        {{view Em.TextField type="text" placeholder="Email" class="form-control" valueBinding="email"}}
                    </div>
                    <div class="form-group">
                        {{view Em.TextField type="password" placeholder="Password" class="form-control" valueBinding="password"}}
                    </div>
                    <button {{action "login" email password}} class="btn btn-success">Sign in</button>
                </form>
            {{/if}}
        </div>
        <!--/.nav-collapse -->

    </div>
</div>
